[Service]
ExecStart=
# fs=ext4: https://github.com/docker/docker/issues/20707
ExecStart=/usr/bin/dockerd \
    --storage-driver=devicemapper \
    --storage-opt dm.fs=ext4 \
    --storage-opt dm.use_deferred_removal=true \
    --storage-opt dm.use_deferred_deletion=true \
    --storage-opt dm.thinpooldev={{ docker.dm.thinpooldev }} \
    --log-driver=journald \
    --iptables=false \
    {{ docker_tls_options }}
