[Service]
ExecStart=
ExecStart=/usr/bin/dockerd \
    --storage-opt=dm.use_deferred_removal=true \
    --storage-opt=dm.use_deferred_deletion=true \
    --storage-opt={{ docker.dm.metadatadev }} \
    --storage-opt={{ docker.dm.datadev }} \
    --storage-driver=devicemapper \
    --log-driver=journald \
    --iptables=false \
    {{ docker_tls_options }}
