[defaults]
hash_behaviour = merge
host_key_checking = False
inventory = ./vagrant_hosts
jinja2_extensions = jinja2.ext.do
log_path=./vagrant_playbook.log
private_key_file = ./ssh/vagrant
remote_user = root

[ssh_connection]
pipelining = True
ssh_args = -F /dev/null -C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null
