<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Trusted</short>
  <description>trusted</description>
  {% for x in firewall.trusted_hosts %}
  <source address="{{ lookup('dig', x + '.') }}"/>
  {% endfor %}
  <service name="ssh"/>
</zone>
