<?xml version="1.0" encoding="utf-8"?>
<zone target="ACCEPT">
  <short>Trusted</short>
  <description>Trusted</description>
  {% for x in firewall.trusted_hosts %}
  <source address="{{ lookup('dig', x + '.') }}"/>
  {% endfor %}
</zone>
