{% set docker_cmd_line = ['/usr/bin/docker', 'run', '--tty', '--log-driver=journald', '--name', container.key ] %}
{% if container.value.ports is defined %}
{% for port in container.value.ports %}
{% do docker_cmd_line.extend(['-p', port]) %}
{% endfor %}
{% endif %}
{% if container.value.links is defined %}
{% for container in container.value.links %}
{% do docker_cmd_line.extend(['--link', container]) %}
{% endfor %}
{% endif %}
{% if _volumes is defined %}
{% for volume in _volumes %}
{% do docker_cmd_line.extend(['-v', volume]) %}
{% endfor %}
{% endif %}
{% if container.value.user is defined %}
{% do docker_cmd_line.extend(['-u', container.value.user]) %}
{% endif %}
{% do docker_cmd_line.extend([container.value.image_name]) %}
{% if container.value.command is defined %}
{% do docker_cmd_line.extend([container.value.command]) %}
{% endif %}
[Unit]
Description={{ container.key }}

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre=-/usr/bin/docker rm --force {{ container.key }}
ExecStart={{ docker_cmd_line|join(' ') }} 
ExecStop=-/usr/bin/docker stop {{ container.key }}

[Install]
WantedBy=multi-user.target
