{% set c = container %}
{% set docker_cmd_line = ['/usr/bin/docker', 'run', '--tty', '--log-driver=journald', '--name', c.name ] %}
{% set docker_cmd_line = docker_cmd_line | cmd_arg('-p', c.ports) | cmd_arg('--link', c.links) | cmd_arg('-v', _volumes) | cmd_arg('-u', c.user) %}
{% do docker_cmd_line.extend([c.image_name]) %}
{% if c.command is defined %}
{% do docker_cmd_line.extend([c.command]) %}
{% endif %}
{% set after_services = c.after | default([]) | mk_service_name %}
{% set before_services = c.before | default([]) | mk_service_name %}
[Unit]
After={{ after_services | join(" ") }}
Before={{ before_services | join(" ") }}
Description={{ c.name }} docker container
Requires={{ (after_services + before_services) | join(" ") }}

[Service]
ExecStart={{ docker_cmd_line | join(' ') }} 
ExecStartPre=-/usr/bin/docker rm --force {{ c.name }}
ExecStop=-/usr/bin/docker stop {{ c.name }}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
