#!/bin/bash
#
set -e

SSH_CMD="/usr/bin/ssh -F $HOME/{{ mpi_cluster.coordinator.mpi_bin.dirname }}/ssh_config"

if [[ -z $RADIA_DEBUG ]]; then
    exec $SSH_CMD "$@"
else
    # Only necessary for debugging with logs
    set -e
    flag=$1
    shift
    host=$1
    shift
    # Set to strace if necessary
    strace=
    logdir="$HOME/{{ mpi_cluster.coordinator.mpi_bin.dirname }}/log/$host"
    test -d $logdir || mkdir -p "$logdir"
    log="$logdir/ssh.log"
    echo "Executing: $SSH_CMD ${cmd[*]} $*" >> "$log"
    exec $SSH_CMD "$flag" "$host" $strace "$@" 2>&1 | tee -a "$log"
fi
echo "ERROR: $SSH_CMD '$@'" 1>&2
exit 1
