{% if is_vagrant_env %}
{# docker can't resolve mDNS within the container, map domains to IPs #}
{# via SSH configuration #}
{% for worker in mpi_cluster.worker_addresses %}
Host {{ worker }}
    HostName {{ worker|docker_get_ip }}

{% endfor %}
{% endif %}
Host *
    Port {{ mpi_cluster.worker.sshd_port }}
    IdentityFile ~/{{ mpi_cluster.coordinator.mpi_bin.dirname }}/id_rsa
    StrictHostKeyChecking no
    User vagrant
    UserKnownHostsFile=/dev/null
