from dockerspawner import DockerSpawner
from jupyter_client.localinterfaces import public_ips
from tornado import gen
import base64, os
import os.path, pwd
import socket, random, errno

class _Spawner(DockerSpawner):
    def _volumes_to_binds(self, *args, **kwargs):
        binds = super(_Spawner, self)._volumes_to_binds(*args, **kwargs)
        print(binds)
        for v in binds:
            if not os.path.exists(v):
                os.mkdir(v)
                if '{{ jupyterhub.jupyter.guest.user}}' != '{{ jupyterhub.guest.user}}':
                    pw = pwd.getpwnam('{{ jupyterhub.jupyter.guest.user}}')
                    os.chown(v, pw.pw_uid, pw.pw_gid)
        return binds

c.Authenticator.admin_users = set([{{ jupyterhub.admin_users|join(',') }}])
c.Authenticator.http_timeout = 60
c.DockerSpawner.container_image = '{{ jupyterhub.jupyter.image_name }}'
c.DockerSpawner.remove_containers = True
c.DockerSpawner.use_internal_ip = True
c.DockerSpawner.volumes = {
    '{{ jupyterhub.host.notebook_d }}/{username}': {
        # POSIT: notebook_dir in containers/radiasoft/beamsim-jupyter/build.sh
        'bind': '{{ jupyterhub.jupyter.guest.notebook_d }}',
        # NFS is allowed globally the "Z" modifies an selinux context for non-NFS files
    },
    '{{ jupyterhub.host.scratch_d }}/{username}': {
        # POSIT: notebook_dir in containers/radiasoft/beamsim-jupyter/build.sh
        'bind': '{{ jupyterhub.jupyter.guest.scratch_d }}',
    },
}

{% if 'GitHubOAuthenticator' in jupyterhub.auth.class %}
c.GitHubOAuthenticator.client_id = '{{ jupyterhub.auth.github.client_id }}'
c.GitHubOAuthenticator.client_secret = '{{ jupyterhub.auth.github.client_secret }}'
c.GitHubOAuthenticator.oauth_callback_url = 'https://{{ jupyterhub.host_name }}/hub/oauth_callback'
{% endif %}

c.JupyterHub.authenticator_class = '{{ jupyterhub.auth.class }}'
c.JupyterHub.confirm_no_ssl = True
c.JupyterHub.cookie_secret = base64.b64decode('{{ jupyterhub.cookie_secret | b64encode }}')
c.JupyterHub.db_url = 'postgresql://jupyterhub:{{ jupyterhub.postgresql.db_pass }}@{{ jupyterhub.postgresql.name }}:5432/jupyterhub'
c.JupyterHub.hub_ip = public_ips()[0]
c.JupyterHub.ip = '0.0.0.0'
c.JupyterHub.port = {{ jupyterhub.guest.port }}
c.JupyterHub.proxy_auth_token = '{{ jupyterhub.proxy_auth_token | b64encode }}'
c.JupyterHub.spawner_class = _Spawner

{% if jupyterhub.debug %}
c.Application.log_level = 'DEBUG'
# Might not want this, but for now it's useful to see everything
#c.JupyterHub.debug_db = True
c.JupyterHub.debug_proxy = True
c.JupyterHub.log_level = 'DEBUG'
c.LocalProcessSpawner.debug = True
c.Spawner.debug = True
{% endif %}

{{ jupyterhub.aux_contents }}
